<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Not Found!</title>
</head>
<body>
    <div class="main_404">
        <div class="section_404">
            <div class="error">
                error
            </div>
            <div class="e404">
                404
            </div>
            <div class="nf">
                -Not Found!
            </div>
            <a href="/signin"><div class="bth">
                Back to Home
            </div></a>
        </div>
    </div>
</body>
</html>